


  <body>

    <section id="Header">
      <div id="cover-caption">
          <div class="jumbotron">
              <div class="container">
                <h1 class="display-3">¡Bienvenidos!</h1>
                <p>En Intercambios Universitarios encontraras todo el material que necesites para tu carrera</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">¡Crea tu cuenta ahora! &raquo;</a></p>
              </div>
            </div>
      </div>
    </section>

    <section id="Categories">
        <div id="cover-caption">
            <div class="jumbotron">
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                      <div class="col-md-4">
                        <h2>Libros</h2>
                        <p>Aquí encontrarás material bibliográfico útil para tus materias, ya sea fotocopiado o en su estado original.</p>
                        <p><button class="btn btn-primary " (click)="libros()" role="button">Ver más &raquo;</button></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Apuntes</h2>
                        <p>Aquí encontrarás apuntes realizados por otros estudiantes, para ayudarte en tus materias.</p>
                        <p><button class="btn btn-primary" (click)="apuntes()" role="button">Ver más &raquo;</button></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Material</h2>
                        <p>Aquí encontrarás material específico, como gafas de laboratorio o reglas de diseño, entre otros.</p>
                        <p><button class="btn btn-primary" (click)="material()" role="button">Ver más &raquo;</button></p>
                      </div>
                    </div>

                    <hr>

                  </div>
              </div>
        </div>
      </section>

      <section>
          
      </section>

      <section id="Solicitudes">
          <div id="cover-caption">
              <h1>Solicitudes</h1>
              <div id="accordion">
                  <span *ngFor="let request of requests; index as i">
                    <div class="card">
                      <div class="card-header" [attr.id]="'prefix'+ i">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" (click)="userData(request.user_id)" data-toggle="collapse" [attr.data-target]="'#' + 'suffix' +i" aria-expanded="false" [attr.aria-controls]="'suffix' + i">
                            <div class="container">
                                <div class="row">
                                    <div class="col">#{{request.id}}</div>
                                    <div class="col">{{request.title}}</div>
                                </div>
                            </div>
                          </button>
                        </h5>
                      </div>
                  
                      <div [attr.id]="'suffix' + i" class="collapse" [attr.aria-labelledby]="'prefix' + i" data-parent="#accordion">
                        <div class="card-body">
                          <div class="container-fluid">
                              <dl class="row">
                                  <dt class="col-sm-3">Descripción:</dt>
                                  <dd class="col-sm-9">{{request.description}}</dd>
                                  <dt class="col-sm-3">Departamento:</dt>
                                  <dd class="col-sm-9">{{haydeptos?departments[request.department_id-1].name:vacio}}</dd>
                                  <dt class="col-sm-3">Nombre:</dt>
                                  <dd class="col-sm-9">{{user?.fullname}}</dd>
                                  <dt class="col-sm-3">Teléfono:</dt>
                                  <dd class="col-sm-9">{{user?.phone}}</dd>
                                  <dt class="col-sm-3">Email:</dt>
                                  <dd class="col-sm-9">{{user?.email}}</dd>
                                  <dt class="col-sm-3">Creado:</dt>
                                  <dd class="col-sm-9">{{request.created_at}}</dd>
                                  <dt class="col-sm-3">Editado:</dt>
                                  <dd class="col-sm-9">{{request.updated_at}}</dd>
                              </dl>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </span>
                </div>
          </div>
        </section>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  </body>

