<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Intercambios Universitarios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline ml-5 my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input class="form-control mr-sm-2" type="search" formControlName="search" size="30" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>


    <ul *ngIf="!currentUser" class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-outline-light my-2 my-sm-0 mr-3" routerLink="/crearsolicitud">Crear solicitud<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Ingresar <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul *ngIf="currentUser" class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-outline-light my-2 my-sm-0 mr-3" routerLink="/crearsolicitud">Crear solicitud<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link pointer" routerLink="/mi-cuenta">Mi perfil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link pointer" (click)="logout()">Salir <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>